@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  height: 100%; /* Asegura que el cuerpo de la página ocupe toda la altura disponible */
  margin: 0; /* Elimina los márgenes predeterminados */
}

.two-column-container {
  display: flex; /* Usa Flexbox para el diseño */
  height: 100%; /* Hace que el contenedor ocupe toda la altura de la página */
}

.left-column {
  flex: 0 0 20%; /* La primera columna ocupa el 20% del ancho */
  background-color: #f0f0f0; /* Color de fondo de la columna izquierda */
  padding: 10px; /* Espacio interno */
}

.right-column {
  flex: 1; /* La segunda columna ocupa el espacio restante */
  background-color: #ccc; 
  padding: 10px; 
}



